
<% if (pagination == 2){ %>
  <% page.posts.each(function(post){ %>
    <%- partial('article', {post: post, index: true}) %>
  <% }) %>
<% } else { %>

<%
var categoriesList = list_categories({class: 'archives-nav'}),
  tagsList = list_tags({class: 'archives-nav'}),
  archivesList = list_archives({class: 'archives-nav',type:'yearly',format:'YYYY'});
%>

  <section class="archives-nav">

    <aside class="archives-nav-aside">
      <h2 class="archives-nav-aside-h">Categories</h2>
      <div class="archives-nav-list-wrap">
        <% if (categoriesList) { %>
          <%-categoriesList%>
        <% } else { %>
          <p class="archives-nav-none">None.</p>
        <% } %>
      </div>
    </aside>

    <aside class="archives-nav-aside">
      <h2 class="archives-nav-aside-h">Tags</h2>
      <div class="archives-nav-list-wrap">
        <% if (tagsList) { %>
          <%-tagsList%>
        <% } else { %>
          <p class="archives-nav-none">None.</p>
        <% } %>
      </div>
    </aside>

    <aside class="archives-nav-aside">
      <h2 class="archives-nav-aside-h">Dates</h2>
      <div class="archives-nav-list-wrap">
        <% if (archivesList) { %>
          <%-archivesList%>
        <% } else { %>
          <p class="archives-nav-none">None.</p>
        <% } %>
      </div>
    </aside>

  </section>
  
  <% var last; %>
  <% page.posts.each(function(post, i){ %>
    <% var year = post.date.year(); %>
    <% if (last != year){ %>
      <% if (last != null){ %>
        </div></section>
      <% } %>
      <% last = year; %>
      <section class="archives-wrap">
        <div class="archive-h-wrap">
          <% if (is_year()){ %>
            <h2 class="archive-h"><%= page.year %></h2>
          <% } else if (is_category()){ %>
            <h2 class="archive-h">><%= page.category %></h2>
          <% } else if (is_tag()){ %>
            <h2 class="archive-h">#<%= page.tag %></h2>
          <% } else { %>
            <h2 class="archive-h"><%= year %></h2>
          <% } %>
        </div>
        <div class="archives">
    <% } %>
    <%- partial('archive-post', {post: post, even: i % 2 == 0}) %>
  <% }) %>
  <% if (page.posts.length){ %>
    </div></section>
  <% } %>
<% } %>
<% if (page.total > 1){ %>
  <nav id="page-nav">
    <%- paginator({
      prev_text: "&laquo; PREV",
      next_text: "NEXT &raquo;"
    }) %>
  </nav>
<% } %>